
<!--  GENERAL TEMPLATE CLASS  -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS (Cascading Style Sheets) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- MAIN CSS FILE (colors, fonts and layouts) -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    <!-- Add tab title -->   
    {% if title %}
        <title>Piso Barcelona - {{ title }}</title>
    {% else %}
        <title>Piso Barcelona</title>
    {% endif %}
    <!--<link rel="shortcut icon" href="media/Logo/logo1.jpg">-->
    <!--ICON OF THE TAB (suported in all browsers)-->
    <!--Es necesario poner /media/ para que se pueda encontrar el logo en todas las pestañas-->
    <link rel="apple-touch-icon" sizes="57x57" href="/media/Logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/Logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/Logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/Logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/Logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/Logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/Logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/Logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/Logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/media/Logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/Logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/Logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/Logo/favicon-16x16.png">
    <link rel="manifest" href="/media/Logo/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- new imported font => try to move to fonts.css -->
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Upper part of the webpage (tab selection) -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <!--<a class="navbar-brand mr-4" href="{% url 'blog-home' %}">PISO BARCELONA</a>-->
          <a class="barcelonaheader" href="{% url 'blog-inicio' %}">PISO BARCELONA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
           <div class="navbar-nav mr-auto">
             <!--  {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
                <a class="nav-item nav-link" href="{% url 'blog-parte' %}">Parte</a>
                <a class="nav-item nav-link" href="{% url 'blog-deporte' %}">Deporte</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Blog</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Parte</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Deporte</a>
              {% endif %}-->
            </div>
              <!-- Navbar Right Side -->
              <!-- If link has not been created: href = "#"-->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="menuheader mr-4" href="{% url 'blog-conferencias' %}">Conferencias</a>
                  <a class="menuheader mr-4" href="{% url 'blog-parte' %}">Parte</a>
                  <a class="menuheader mr-4" href="{% url 'blog-deporte' %}">Deporte</a>
                  <a class="menuheader mr-4" href="{% url 'blog-enlaces' %}">Enlaces</a>
                  <a class="menuheader mr-4" href="{% url 'blog-recursos' %}">Recursos</a>
                  <!-- <a class="menuheader mr-4" href="{% url 'blog-impresora' %}">Impresora</a>-->
                  <!--<div class="dropdown">
                    <button type="button" class="mr-4 btn btn-secondary dropdown-toggle menuheader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imprimir</button>
                    <div class="dropdown-content">
                      <a href="{% url 'blog-impresora' %}">Impresora</a>
                      <a href="{% url 'blog-encuadernadora' %}">Encuadernadora</a>
                    </div>
                  </div> -->
                  <div class="dropdown">
                    <button type="button" class="mr-4 btn btn-secondary2 dropdown-toggle menuheader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imprimir</button>
                    <div class="dropdown-content2">
                      <a href="{% url 'blog-impresora' %}">Impresora</a></li>
                      <a href="{% url 'blog-encuadernadora' %}">Encuadernadora</a></li>
                    </div>
                  </div>
                  <!--
                  <ul class="menu cf">
                    <li>
                      <a>Imprimir</a>
                      <ul class="submenu">
                        <li><a href="{% url 'blog-impresora' %}">Impresora</a></li>
                        <li><a href="{% url 'blog-encuadernadora' %}">Encuadernadora</a></li>
                      </ul>	
                    </li>
                  </ul>-->
                  <!--<a class="menuheader mr-4" href="{% url 'blog-metaverso' %}">Metaverso</a>-->
                  <div class="dropdown">
                    <button type="button" class="mr-4 btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="rounded-circle article-img" src="{{ user.profile.image.url }}"></button>
                    <div class="dropdown-content">
                      <a href="{% url 'blog-home' %}">Mensajes</a>
                      <a href="{% url 'post-create' %}">Nuevo Mensaje</a>
                      <a href="{% url 'profile' %}">Perfil</a>
                      <a href="{% url 'logout' %}">Salir</a>
                      {% if user.username == 'parteadmin'%}
                        <a href="{% url 'blog-extras' %}">DxT Admin</a>
                        <a href="{% url 'blog-imprimir' %}">Parte Admin</a>
                        <a href="{% url 'blog-modificar' %}">Modificar Partes</a>
                      {% endif %}
                      {% if user.username == 'daniherencia'%}
                        <a href="{% url 'blog-extras' %}">DxT Admin</a>
                        <a href="{% url 'blog-imprimir' %}">Parte Admin</a>
                        <a href="{% url 'blog-modificar' %}">Modificar Partes</a>
                      {% endif %}
                      {% if user.username == 'PauDolz'%}
                        <a href="{% url 'blog-imprimir' %}">Parte Admin</a>
                        <a href="{% url 'blog-modificar' %}">Modificar Partes</a>
                      {% endif %}
                      {% if user.username == 'DxT'%}
                        <a href="{% url 'blog-extras' %}">DxT Admin</a>
                      {% endif %}
                      {% if user.username == 'JoanPau'%}
                        <a href="{% url 'blog-extras' %}">DxT Admin</a>
                      {% endif %}
                      {% if user.username == 'GabrielM'%}
                        <a href="{% url 'blog-extras' %}">DxT Admin</a>
                      {% endif %}
                    </div>
                  </div>
                  <!-- <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>     dropdown-menu-right-->
                  <!-- <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>-->
                  <!-- <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>-->
                {% else %}
                  <a class="login mr-4" href="{% url 'login' %}">Iniciar Sesión</a>
                  <a class="login mr-4" href="{% url 'codigoseguridad' %}">Registrarse</a>
                {% endif %}
              </div>
            </div>
          </div>
            <!--<div class='header-overlay'> </div>-->
        </nav>
      </header>
    <main role="main" class="container">
      {% if not user.is_authenticated %}
        {% block content2 %}{% endblock content2 %}
      {% else %}
        <div class="special-content">
          {% block content %}{% endblock content %}
        </div>
      {% endif %}
    </main>
      <!--FUNCTION TO INCREASE OPACITY WHILE SCROLLING
      <script>
        $(window).scroll(function() {
          var scrollTop = $(this).scrollTop();
        
          $('.header-overlay').css({
            opacity: function() {
              var elementHeight = $(this).height();
              return 1 - (elementHeight - scrollTop) / elementHeight;
            }
          });
        });
      </script>-->

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>

  