{% extends "blog/base.html" %}
{% block content %}
    <h1>Enlaces de interés</h1>
    <div class="contenedor-imagenes">
        <div class="enlaces-container">
            <a href="https://meet.google.com/wip-rqkj-iac?authuser=0" target="_blank">
            <img src="../media/fotosEnlaces/catecismo.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Reuniones Catecismo</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://us02web.zoom.us/j/82474382250?pwd=K2QyR21PMWFEd3NFbXNrUXRNOHMxQT09" target="_blank">
            <img src="../media/fotosEnlaces/literatura.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Conferencias Arte y Literatura</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="http://impresora.inviam.net/" target="_blank">
            <img src="../media/fotosEnlaces/impresora.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Impresora</div>
            </div></a>
        </div>
    </div>
    <br>
    <div class="contenedor-imagenes">
        <div class="enlaces-container">
            <a href="http://youngdigitalsongbook.pythonanywhere.com/" target="_blank">
            <img src="../media/fotosEnlaces/cancionero.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Cancionero</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://trello.com/b/rPKe8Y80/piso-bcn-2021-2022" target="_blank">
            <img src="../media/fotosEnlaces/trabajos.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Trabajos</div>
            </div></a>
        </div>
    </div>

{% endblock content %}