{% extends "blog/base.html" %}
{% block content %}
    <h1>Enlaces de interés</h1>
    <br>
    <div class="contenedor-imagenes">
        <div class="enlaces-container">
            <a href="https://meet.google.com/nur-zaaa-jjx" target="_blank">
            <img src="../media/fotosEnlaces/catecismo.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Reuniones Catecismo</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://us02web.zoom.us/j/86385871320" target="_blank">
            <img src="../media/fotosEnlaces/literatura.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Conferencias Arte y Literatura</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="{% url 'blog-impresora' %}" target="_blank">
            <img src="../media/fotosEnlaces/impresora.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Impresora</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="http://youngdigitalsongbook.pythonanywhere.com/" target="_blank">
            <img src="../media/fotosEnlaces/cancionero.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Cancionero</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://trello.com/b/rPKe8Y80/piso-bcn-2021-2022" target="_blank">
            <img src="../media/fotosEnlaces/trabajos.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Trabajos</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://www.librarycat.org/lib/Biblio_Pis_St_Joan" target="_blank">
            <img src="../media/fotosEnlaces/logo_biblioteca.png" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Biblioteca</div>
            </div></a>
        </div>
        <div class="enlaces-container">
            <a href="https://www.enticonfio.org/catecismo/" target="_blank">
            <img src="../media/fotosEnlaces/catecismoexplicadomunilla.jpg" class="enlaces-image">
            <div class="enlaces-overlay">
                <div class="enlaces-text">Catecismo Explicado</div>
            </div></a>
        </div>
    </div>
    <br>

{% endblock content %}