{% extends "blog/base.html" %}
{% block content %}
    <h1>Zona de Administrador Parte</h1>
    <br>
    <div class="form-group">
        <label for="name">Observaciones:</label>
        <input type="text" class="form-control" id="name" name='observaciones' placeholder="Observaciones que escribir en el parte de cocina">
    </div>
    <h3>Botones especiales:</h3>
    <form method="post">{% csrf_token %}
        <button type="button" class="btn btn-success" onclick="export_to_pdf()" style="background-color:#9CB4B3; border:none">Descargar Parte Cocina</button>
    </form>
    <br>
    <button type="button" class="btn btn-success" onclick="export_to_pdf2()" style="background-color:#9CB4B3; border:none">Descargar Parte Comedor</button>
    <br>
    <hr/>
    <form method="post" action="{% url 'blog-imprimir' %}">{% csrf_token %}
        <button type="submit" class="btn btn-success" style="background-color:#9CB4B3; border:none">Correo Parte</button>
    </form>
 <!--   <a class="float-right btn btn-primary" onclick="export_to_pdf()">Descargar Parte</a>
    <a target="_blank" class="fcc-btn" href='blog-imprimir'>Imprimir Parte</a>  
    <form method="post" action="{% url 'blog-imprimir' %}">{% csrf_token %}
        <button type="submit" class="btn btn-success">Descargar Parte</button>
    </form>-->
    <script>
        function export_to_pdf() {
            window.open(
                '/partepdf',
                '_blank' // <- This makes it open in a new window.
            );
        } 
        function export_to_pdf2() {
            window.open(
                '/partepdf2',
                '_blank' // <- This makes it open in a new window.
            );
        } 
    </script>
{% endblock content %}