{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      {% if user.username == 'invitado' %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Info Perfil</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>
        <h3>No tienes permiso para modificar este perfil. Los cambios que realizes no se guardarán</h3>
      {% else %}       
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Info Perfil</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>          
      {% endif %}
      <button class="btn btn-outline-info" onclick="launchFullScreen(document.documentElement);">¿Quieres ser hackeado?</button>
      <script>
        function launchFullScreen(element) {
            window.location.href='https://fakeupdate.net/win10ue/'
            if(element.requestFullScreen) {
                element.requestFullScreen();
            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if(element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            }
        }
        // Lanza en pantalla completa en navegadores que lo soporten
        function cancelFullScreen() {
            if(document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if(document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if(document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
        function maxWindow()
        {
            window.moveTo(0,0);
            if (document.all)
            {
                top.window.resizeTo(screen.availWidth,screen.availHeight);
            }
            else if (document.layers||document.getElementById)
            {
                if (top.window.outerHeight<screen.availHeight||top.window.outerWidth<screen.availWidth)
                {
                top.window.outerHeight = screen.availHeight;
                top.window.outerWidth = screen.availWidth;
                }
            }
        }
      </script>
    </div>
{% endblock content %}